:root {
	--rocket-border-color: rgb(from var(--sl-color-gray-1) r g b / 15%);

	--sl-font: "Source Sans Pro", sans-serif;

	--sl-color-accent-low: #460b05;
	--sl-color-accent: #c60e00;
	--sl-color-accent-high: #feb3a6;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ffe8e3;
	--sl-color-gray-2: #d8bab5;
	--sl-color-gray-3: #b27c72;
	--sl-color-gray-4: #7a4940;
	--sl-color-gray-5: #572922;
	--sl-color-gray-6: #431711;
	--sl-color-black: #26120e;
}

:root[data-theme="light"] {
	--sl-color-accent-low: #ffc8be;
	--sl-color-accent: #c90e00;
	--sl-color-accent-high: #640300;
	--sl-color-white: #26120e;
	--sl-color-gray-1: #431711;
	--sl-color-gray-2: #572922;
	--sl-color-gray-3: #7a4940;
	--sl-color-gray-4: #b27c72;
	--sl-color-gray-5: #d8bab5;
	--sl-color-gray-6: #ffe8e3;
	--sl-color-gray-7: #fff3f1;
	--sl-color-black: #ffffff;
}

body {
	&::before {
		content: "";
		display: block;

		position: fixed;
		top: 0;
		left: 0;

		width: 100vw;
		height: 100vh;

		background: linear-gradient(
			var(--sl-color-accent-low),
			color-mix(
				in lab,
				var(--sl-color-accent),
				var(--sl-color-accent-low)
			)
		);
	}
}

.hero {
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;

	& h1:nth-child(1) {
		font-weight: 600;
	}

	& .copy {
		text-align: center;
		align-items: center;
		justify-content: center;

		& .tagline {
			max-width: 75ch;
			line-height: 120%;
		}
	}

	& .actions {
		text-align: center;
		align-items: center;
		justify-content: center;
		gap: 0.5rem 1rem;
	}

	& img {
		width: min(100%, 8rem);
	}
}

.pagination-links a,
.sl-link-card {
	box-shadow: none;
	border-color: var(--rocket-border-color) !important;
	background-color: var(--sl-color-accent-low);
	transition: background-color 100ms ease-out;

	&:hover {
		background-color: var(--sl-color-black);
	}
}

.sl-link-button {
	flex-direction: row-reverse;
	padding: 0.875rem 0.875rem;
	border: none;
	border-radius: 0.5rem;

	&.primary {
		background-color: var(--sl-color-gray-1);

		&:hover {
			background-color: var(--sl-color-gray-2);
		}
	}

	&.secondary {
		background-color: rgb(from var(--sl-color-gray-1) r g b / 20%);

		&:hover {
			background-color: rgb(from var(--sl-color-gray-1) r g b / 15%);
		}
	}

	transition: background-color 100ms ease-out;
}

.sidebar-pane {
	background: none !important;
	border-color: var(--rocket-border-color);
}

.header {
	border: none;
	background: linear-gradient(
		var(--sl-color-accent-low),
		rgb(from var(--sl-color-accent-low) r g b / 0%)
	);
}

.right-sidebar {
	border-color: var(--rocket-border-color);
}

.main-pane {
	& .content-panel:nth-child(2) {
		border-color: var(--rocket-border-color);
	}
}

.pagination-links a {
	border-color: var(--rocket-border-color);
	transition: border-color 100ms ease-out;

	&:hover {
		border-color: rgb(from var(--rocket-border-color) r g b / 30%);
	}
}
